    <script type="text/javascript" src="<?php echo JS_PATH ?>jquery.twbsPagination.min.js"></script>
    <script type="text/javascript" src="<?php echo COURSES_JS_PATH ?>courses.js">  </script>
    <!--=========== BEGIN COURSE BANNER SECTION ================-->
    <section id="imgBanner">
      <h2>Our Courses</h2>
    </section>
    <!--=========== END COURSE BANNER SECTION ================-->
    
    <!--=========== BEGIN COURSE BANNER SECTION ================-->
    <section id="courseArchive">
      <div class="container">
        <div class="row">
            <!-- start course archive sidebar -->
          <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="courseArchive_sidebar">
              <!-- start single sidebar -->
              <div class="single_sidebar">
                <h2>Filters <span class="fa fa-angle-double-right"></span></h2>
                <ul class="news_tab">

                  <li>
                    <div class="media">
                      <div class="media-left">
                        <label class="news_img" >Max price</label>
                      </div>
                      <div class="media-body">
                        <div class="col-md-11">
                          <p>
                            <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
                          </p>                           
                          <div id="slider-range-min"></div>
                        </div>                                              
                      </div>
                    </div>
                  </li>


                  <li>
                    <div class="media">
                      <div class="media-left">
                        <label class="news_img">Lenguage</label>
                        <br>
                      </div>
                      <div class="media-body">
                        <br>
                        <p>
                         <select id="courseLenguge" name="courseLenguge" class="form-control input-md lenguage" required="">
                            <option selected="" value=""></option>
                            <option value="Spanish">Spanish</option>
                            <option value="English">English</option>
                            <option value="Portuguese">Portuguese</option>
                            <option value="German">German</option>
                            <option value="all">All lenguges</option>
                        </select>                        
                        </p>                       
                      </div>
                    </div>
                  </li>


                  <li>
                    <div class="media">
                      <div class="media-left">
                        <label class="news_img">Level</label>
                        <br>

                      </div>
                      <div class="media-body">
                        <br>
                        <p>
                        <label class="radio-inline" for="level-0">
                          <input type="radio" name="level" id="level-0" class="level" value="Basic" > Basic
                        </label> <br>
                        <label class="radio-inline" for="level-1">
                          <input type="radio" name="level" id="level-1" class="level" value="Medio"> Medio
                        </label><br>
                        <label class="radio-inline" for="level-2">
                          <input type="radio" name="level" id="level-2" class="level" value="Expert"> Expert
                        </label><br>

                        <label class="radio-inline" for="level-3">
                          <input type="radio" name="level" id="level-3" class="level" value="all"> All
                        </label><br>
                        
                        </p>
                       
                      </div>
                    </div>
                  </li>




                  <li>
                    <div class="media">
                      <div class="media-left">
                        <label class="news_img">Category</label>
                        <br>

                      </div>
                      <div class="media-body">
                        <br>
                        <p>
                         <select id="subject" name="subject" class="form-control input-md selectCF" required="">
                            <option selected="" value=""></option>

                        </select>
                        
                        </p>
                       
                      </div>
                    </div>
                  </li>

                  <li>
                    <div class="media">
                      <div class="media-left">
                        <label class="news_img">Sub-category</label>
                        <br>

                      </div>
                      <div class="media-body">
                        <br>
                        <p>
                        <select id="subSubject" name="subSubject" class="form-control input-md selectCF" required="">
                            <option selected="" value=""></option>
                        </select>
                        
                        </p>
                       
                      </div>
                    </div>
                  </li>

                  

                  <!-- 
                  <li>
                    <div class="media">
                      <div class="media-left">
                        <a href="#" class="news_img">
                          <img alt="img" src="img/news.jpg" class="media-object">
                        </a>
                      </div>
                      <div class="media-body">
                       <a href="#">Dummy text of the printing and typesetting industry</a>
                       <span class="feed_date">28.02.15</span>                
                      </div>
                    </div>
                  </li>  
 -->
                </ul>
              </div>
             </div>
          </div>


          <!-- start course content -->
          <div class="col-lg-8 col-md-8 col-sm-8">
            
            <!-- ................. start search ................. -->
            <center>
              <form name="search_prod" id="search_prod" class="search_prod">
                  <input type="text" value="" placeholder="Search Course ..." class="input_search" id="keyword" list="datalist">
                  <!-- <div id="results_keyword"></div> -->                  
                  <button name="Submit" id="Submit" class="button_search" type="button">Search</button>
                   
              </form>
            </center>
            <!-- ................. end search ................. -->

            

            <div class="courseArchive_content">

              <div class="row" id="div_listCou">
                <!-- start single course -->
               
                <!-- End single course -->                
              </div>


              <!-- start previous & next button -->
              <center>
    <div class="pagination" id="pag"></div>
</center>
              <!-- <div class="single_blog_prevnext">
                <a href="#" class="prev_post wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;"><i class="fa fa-angle-left"></i>Previous</a>
                <a href="#" class="next_post wow fadeInRight animated" style="visibility: visible; animation-name: fadeInRight;">Next<i class="fa fa-angle-right"></i></a>
              </div> -->
            </div>
          </div>
          <!-- End course content -->

        
          <!-- start course archive sidebar -->
        </div>
      </div>
    </section>
    <!--=========== END COURSE BANNER SECTION ================-->